.badge {
  background-color: #496f5d;
  width: 25px;
  height: 25px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
  font-weight: 600;
}
